# fly.toml app configuration file generated for ghdownfall on 2026-02-09T14:53:01-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ghdownfall'
primary_region = 'iad'

[build]

[env]
  DB_PATH = '/data/incidents.db'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
